*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    height: 100px;
    background-color: #2980b9;
    gap: 23%;
}

header img{
    width: 200px;
    height: 80px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 12px;
}

header .titulo{
    /* background-color: red; */
    height: 30px;
    font-weight: 900 bold;
    font-size: 30px;
    color: white;
    margin-top: 35px;
    display: inline-block;
    /* margin-left: 25%; */
}

header .sessao{
    display: inline-block;
    /* background-color: red; */
    margin-top: 5px;
}
header .sessao .usuarioLogado{
    margin-top: 5px;
    font-size: 14px;
    color: white;
    /* background-color: red; */
    
}

header .sessao .empresa{
    margin-top: 5px;
    font-size: 14px;
    color: white;
}

header .sessao .cnpj{
    margin-top: 5px;
    font-size: 14px;
    color: white;
    
}

header .sessao .registro{
    
    font-size: 15px;
    height: 30px;
    width: 80px;
    color: white;
    background-color: #aaa;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 0;
    position: relative;
    bottom: 10px;
    
}
a {
    text-decoration: none;
    color: white;
}
header .sessao .dataHora{
    font-size: 15px;
    margin-top: 5px;
    color: white;
    display: inline-block;
}

header .sessao .registro:hover{
    background-color: rgb(88, 86, 86);
}


footer{
    width: 100%;
    text-align: center;
    font-weight: 500 bold;
    color: white;
    background-color: #2980b9;
    height: 20px;
    bottom: 0;
    position: absolute;
}