body{
    background-color: #ecf0f1;
    font-family: Arial, Helvetica, Sans-serif;
    overflow: hidden;
}

.area-login{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 78vh;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2382a5;
    width: 355px;
    height: 320px;
    padding: 27px;
    border-radius: 15px;

}

.login form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login input{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    
    border: none;
    height: 39px;
    outline: none;
    border-radius: 8px;
}

.login img{
    width: 200px;
    height: auto;
    text-align: center;
}

input::placeholder{
    color:rgb(0, 0, 0);
    font-size: 14px;
    
}

form [type="submit"]{
    display: block;
    background-color: #aab0f0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

p{
    color: white;
    margin: 8px;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 5px;
}